# Module 3: Naive Bayes' Classification

In [ ]:
import pandas as pd
import numpy as np

In [23]:
# data shown in class

data = [['M', 1, 0],
        ['M', 1, 1],
        ['R', 1, 1],
        ['R', 1, 1],
        ['M', 0, 1],
        ['M', 1, 1],
        ['R', 0, 1],
        ['R', 1, 0],
        ['R', 0, 0]]

df_MR = pd.DataFrame(data, columns = ['label', 'f1', 'f2'])

In [7]:
df_MR

  label  f1  f2
0     M   1   0
1     M   1   1
2     R   1   1
3     R   1   1
4     M   0   1
5     M   1   1
6     R   0   1
7     R   1   0
8     R   0   0

In [24]:
# function to get compute P(M|f1)

def get_prob_M_f1(df, f1):
    
    # total number of datapoints
    n_all = 
    
    # total # of mammals in the dataset
    n_M = 
    
    # total # of reptiles
    n_R = 
    
    # total # of mammals with the given feature value
    n_M_f1 = 
    
    # total # of reptiles with the given feature value
    n_R_f1 = 
    
    # compute terms in Bayes' formula
    prob_M    = 
    prob_f1_M = 

    prob_R    = 
    prob_f1_R = 
    
    prob_M_f1 = 
    
    return prob_M_f1

In [26]:
get_prob_M_f1(df_MR, 1)

0.5